.aletter {
    width: 250px;
    height: auto;
    border: 1px solid grey;
    margin: 0 auto;
    padding: 50px;
    font-family: 'Nanum Pen Script';
    font-size: 20px;
    color: #000030;
    line-height: 20px;
    text-align: justify;
    background-image: url(http://www.publicdomainpictures.net/pictures/40000/velka/paper-texture-1359509235aJV.jpg);
  }
  
  .tomy {
    width: 190px;
    height: 20px;
    color: #000030;
    font-family: 'Indie Flower';
    font-size: 20px;
    transform: rotate(-5deg);
  }